/*tailwind.css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked + div {
    @apply border-orange-600;
}
input:checked + div svg {
    @apply block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
